@import "normalize.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: #304535;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .signInput {
    @apply w-[400px] text-black p-3 pl-5 rounded-md border;
  }
  .signInputError {
    @apply w-[400px] text-red-500 h-[30px] mt-1 text-[12px]; /* 오류 메시지 색상 */
  }
}
